:root {
    --clr-black: #1c1c1d;
    --clr-pale-gray: #ececec;
    --clr-white: #ffffff;

    --clr-dark-blue: hsl(223, 47%, 23%);
    --clr-violett:hsl(245, 75%, 52%);
    --clr-pale-violett:hsl(245, 85%, 57%);
    --clr-gray: hsl(224, 23%, 55%);
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-red-pale-blue: hsl(0, 100%, 91%);
    --clr-red:rgb(255, 46, 46);
    --clr-very-pale-blue:hsl(258, 100%, 98%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.order-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.order {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .25);
}
.illustration {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.order-section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.order-summary {
    display: flex;
    flex-direction: column;
}
.order-summary-title, .order-summary-text{
    text-align: center;
}
.order-summary-title {
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 1rem;
    color: var(--clr-dark-blue);
}
.order-summary-text {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 1rem;
    font-weight: 550;
    color: var(--clr-gray);
}
.order-description {
    margin-top: 2rem;
    background-color: var(--clr-very-pale-blue);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.plan-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.order-plan{
    color: var(--clr-dark-blue);
    font-weight: 600;
}
.order-price{
    color: var(--clr-gray);
    font-weight: 600;
}
.order-change {
    color:var(--clr-violett);
    cursor: pointer;
}
.order-btn {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
}
.btn {
    width: 100%;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem ;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .25);
}
.proceed-btn {
    color: var(--clr-white);
    background-color: var(--clr-violett);
    transition: .2s;
}
.proceed-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
    background-color: var(--clr-pale-violett);
}
.cancel-btn {
    color: var(--clr-gray);
    transition: 1s;
}
.cancel-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
    background-color: var(--clr-red-pale-blue);
    color: var(--clr-red);
}