:root {
    --clr-black: #1c1c1d;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue:hsl(245, 75%, 52%);
    --clr-very-pale-blue:hsl(225, 100%, 98%);
    --clr-desatured-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
}
.design-container  {
    display: flex;
    flex-direction: column;
}
.design {
    
}